*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.main-section{
  background-image: url(bg.jpg);
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section-content{
  color:white;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 55px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.main-section-content span{
  font-size: 85px;
}
.bg-content{
  height:85px;
  background-color: black;
  color:white
}
.bg-content h1{
  max-width: 700px;
  margin: 0 auto;
  font-size: 35px;
  padding-top:30px;
}
.work{
  margin:10 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work-content{
  padding:12px;
}
.work-detail{
  max-width: 320px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  margin:15px;
}
.work-detail .work-img img{
  width:320px;
  height:320px;
}